@model IEnumerable<EntityLayer.Concrete.Comment>

<div class="comment-top mb-2">

    @if (Model.Count() > 0)
    {
        <h3>Comments</h3>
    }
    else
    {
        <h4 style="color:red;">Be the first to comment on this post!</h4>
    }
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/webtema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h4 class="mt-0">@item.CommentUsername</h4>
                <h6 class="mt-1">@item.CommentTitle</h6>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>
    }
</div>


@*<div class="comment-top">
    <h3>Comments</h3>
    @foreach (var item in Model)
    {
        <div class="media">
            <img src="~/webtema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h4 class="mt-0">@item.CommentUsername</h4>
                <h6 class="mt-1">@item.CommentTitle</h6>
                <p>
                    @item.CommentContent
                </p>
            </div>
        </div>
    }
</div>*@